* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 1rem 2rem;
	font-family: Helvetica, Arial, sans-serif;
	color: #333333;
}

form {
	padding: 1rem;
	background-color: lavender;
	border-radius: .5rem;
}

form > * {
	display: block;
}

label {
	margin-bottom: .4rem;
}

input {
	margin-bottom: 1.5rem;
	padding: .5rem;
	min-width: 3rem;
	border: 1px solid #ccc;
	border-radius: .25rem;
}

